.navbar{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
  }
  .nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }
  .showcase {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .showcase video {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .title {
    width: 100%;
    height: 20%;
    background-color: black;
    font-size: 95px;
    color: #fff;
    mix-blend-mode: multiply;
  }
  .slidershow{
    width: 1264px;
    height: 485px;
    overflow: hidden;
  }
  .middle{
    position: absolute;
    top: 87%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    margin-left: 0px;   
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 80px;
    height: 7px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');  
   *{  
     margin: 0;   
     padding: 0;  
     box-sizing: border-box;  
     font-family: 'Poppins', sans-serif;  
   }  
   .grid{
      display: grid;
      grid-template-columns: 350px 350px 350px;
      grid-template-rows:  350px 350px 350px;
  }
   body{  
     display: flexbox;  
     justify-content: center;  
     align-items: center;  
     height: 100vh;
   }  
   .card{  
     display: grid;
     grid-gap: 20px;
     width: 250px;  
     height: 300px;  
     position: relative;  
     cursor: pointer;
     margin-left: 170px;
     margin-top: 50px;
     margin-bottom: 10px;
     }  
   .card .content{
     
     width: 100%;  
     height: 100%;  
     background: rgba(255, 255, 255, 0.089);  
     backdrop-filter: blur(20px);  
     border: 1px solid white;  
     color: #ffecd1;  
     display: flex;  
     justify-content: center;  
     align-items: center;  
     flex-direction: column;  
     box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);  
     transition: all .4s;  
   }  
   .card .content p{  
     font-size: 0.8em;  
     padding: 0.3em 1.5em;  
     text-align: center;  
   }  
   .card:hover .content{  
     color: rgb(36, 36, 36);  
   }  
   .card::before,  
   .card::after{  
     content: '';  
     position: absolute;  
     width: 100%;  
     height: 50%;  
     background: #FF8F1C;  
     z-index: -20;  
     transition: all .4s;  
   }  
   .card::before{  
     top: 0;  
     right: 0;  
   }  
   .card::after{  
     bottom: 0;  
     left: 0;  
     background: ;  
   }  
   .card:hover::before{  
     width: 50px;  
     height: 50px;  
     transform: translate(20px, -20px);  
     border-radius: 50%;  
   }  
   .card:hover::after{  
     width: 100px;  
     height: 100px;  
     transform: translate(-20px, 20px);  
     border-radius: 50%;  
   }
  
   .midend{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    background-color: white;
    color: black;
    margin-left: 560px;
    margin-right: 560px;
    margin-top: -14px;
  }
  
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #000;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  
  .end3{
      display: grid;
    margin-left: 10px;
    grid-template-columns: 500px 250px ;
  
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .end2{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 50px;
  } 
  #part1{
    margin-top: 20px;
  }
  .att a{
    color: black;
    text-decoration: none;
  }
  .att1 a{
    color: white;
    text-decoration: none;
  }
  .end1{
    font-family: sans-serif;
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 10px;
    font-size: 25px ;
    margin-top: 20px;
  }
  #my-select{
    display: grid;
    padding: 7px; 
    margin-left: 180px;
    margin-top: -30px;
  }
  .property{
    display: grid;
    font-size: 12px;
    margin-left: 950px;
  }
  
  .end{
    background-color: black;
    color: white;
    padding: 15px;
    font-style: sans-serif;
    font-size: 16px;
  }